.white-color {
  color: var(--white-color);
}

.gray-color {
  color: var(--gray-color);
}

.light-gray-color {
  color: var(--lightGray-color);
}

.peru-color {
  color: var(--peru-color);
}

.transparent {
  background-color: transparent;
}

.b-transparent {
  border-color: transparent;
}