@import "src/styles/variables/media";

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.ph-10 {
  padding: 0 10px;
}

.pt-160 {
  padding-top: 160px;
}

@media screen and (min-width: $mb){
  .pt-mb-160 {
    padding-top: 160px;
  }
}

@media screen and (min-width: $lg){
  .pt-lg-160 {
    padding-top: 160px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-160 {
  padding-bottom: 160px;
}

@media screen and (min-width: $mb){
  .pb-mb-30 {
    padding-bottom: 30px;
  }

  .pb-mb-160 {
    padding-bottom: 160px;
  }
}

@media screen and (min-width: $lg){
  .pb-lg-30 {
    padding-bottom: 30px;
  }

  .pb-lg-160 {
    padding-bottom: 160px;
  }
}