.success-icon {
  width: 2.285em;
  height: 1.428em;
  margin-bottom: 1.357em;
  border-left: 0.428em solid var(--success-color);
  border-bottom: 0.428em solid var(--success-color);
  transform: rotate(-45deg);
}