*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1em;
  font-family: "Geometria", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-color);
}

#app {
  background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
