$main-color: #fff;
$secondary-color: #6c6c6c;
$third-color: #c0965c;
$fourth-color: #bbbbbb;

$success-color: #89cc1b;
$alert-color: #cc301b;

$bg-main-color: #0e0e0e;
$bg-menu-color: #1c1c1b;

$bg-element-color: rgba(255, 255, 255, 0.1);
$bg-btn-hover-color: rgba(192, 150, 92, 0.8);
$bg-input-active-color: rgba(255, 255, 255, 0.2);
$bg-dropwawn-active-color: #333333;

$duration-opening-menu: 0.3s;
$max-width-menu: 200px;
$padding-content-menu: 90px;

$logo-height: 36px;
$header-padding-vertical: 20px; 

