:root {
  --white-color: #fff;
  --lightGray-color: #bbbbbb;
  --gray-color: #6c6c6c;
  --darkGray-color: #333333;
  --peru-color: #c0965c;
  --darkPeru-color: rgba(192, 150, 92, 0.8);
  --success-color: #89cc1b;
  --alert-color: #cc301b;
  --black-color: #0e0e0e;
  --lightBlack-color: #1c1c1b;

  --bg-element-color: rgba(255, 255, 255, 0.1);
  --bg-element-active-color: rgba(255, 255, 255, 0.2);
}